html,body{margin:10;padding:10;}
body{
    font-size: 20pt;
    font-family: alice, serif;
    background:#41314a;
    text-align: left;

  line-height: 1.5;
  }

  ol{
    padding-left: 60;
  }

#main {
    background:#F7F2E7;
    padding:30;
    padding-left:30;
    padding-right:30;
    float:left;
    border-radius: 15px;
     box-shadow: 4px 4px 4px #120d14;
}


#banner_img {
  width:100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.blog-image-medium {
  width:100%;
  padding:5;
  margin: 0px 0px 15px 15px;
}

.blog-image-large {
  width:100%;
  padding:5;
  margin: 0px 0px 15px 15px;
}

.blog-image-heading {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {

  text-align: center;
margin-top:30;
background:#184031;
color:#FFFFFF;
font-family: hammersmith, serif;
font-weight: bold;
font-size: 34pt;
padding:5;
padding-left:15;
box-shadow: 2px 2px 2px grey;
border-radius: 5px;
}

.subtitle {
background:#184031;
color:#FFFFFF;
font-size: 28pt;

font-style: italic;

padding:5;
padding-left:15;
box-shadow: 2px 2px 2px grey;
border-radius: 5px;
}

.subsubtitle {
background:#709789;
font-family: hammersmith, serif;
font-size: 24pt;
padding:5;
padding-left:15;
box-shadow: 1px 1px 1px grey;
}

/* Styles for screens larger than 1200px */ 
@media (min-width: 700px) { 

  body{
    font-size: 14pt;
    font-family: alice, serif;
    background:#41314a;
    text-align: left;

  line-height: 1.5;
  }
  .blog {
    max-width:650px;
    margin: 0 auto;
  }

  #banner_img {
    width:650px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .blog-image-medium {
    width:500px;
    padding:5;
    margin: 0px 0px 15px 15px;
}

.blog-image-large {
    width:600px;
    padding:5;
    margin: 0px 0px 15px 15px;
}

.blog-image-heading {
    width:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.chart-image {
    width:600px;
    padding:5;
}

p{
  padding-left: 30;
  padding-right:30;
}

.title {
  text-align: center;
  margin-top:30;
  background:#184031;
  color:#FFFFFF;
  font-family: hammersmith, serif;
  font-weight: bold;
  font-size: x-large;
  padding:5;
  padding-left:15;
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
}

.subtitle {
  background:#184031;
  color:#FFFFFF;
  font-size: large;

  font-style: italic;

  padding:5;
  padding-left:15;
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
}

.subsubtitle {
  background:#709789;
  font-family: hammersmith, serif;
  font-size: large;
  padding:5;
  padding-left:15;
  margin-left:30;
  box-shadow: 1px 1px 1px grey;
}
} 



 
/* Styles for screens larger than 1200px */ 
@media (min-width: 1200px) { 

    body{
      font-size: 14pt;
      font-family: alice, serif;
      background:#41314a;
      text-align: left;

    line-height: 1.5;
    }
    .blog {
      max-width:900px;
      margin: 0 auto;
    }

    #banner_img {
      width:900px;
      border-radius: 15px;
      margin-bottom: 20px;
    }

    .blog-image-medium {
      width:500px;
      padding:5;
      margin: 0px 0px 15px 15px;
  }

   .blog-image-small-heading {
      width:300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .blog-image-large {
      width:900px;
      padding:5;
      margin: 0px 0px 15px 15px;
  }

  .blog-image-heading {
      width:500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }


  .chart-image {
      width:650px;
      padding:5;
  }

  p{
    padding-left: 30;
    padding-right:30;
  }

  .title {
    text-align: center;
    margin-top:30;
    background:#184031;
    color:#FFFFFF;
    font-family: hammersmith, serif;
    font-weight: bold;
    font-size: x-large;
    padding:5;
    padding-left:15;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
  }

  .subtitle {
    background:#184031;
    color:#FFFFFF;
    font-size: large;

    font-style: italic;

    padding:5;
    padding-left:15;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
  }
.subtitle a {  
    color:#FFFFFF;
}



  .subsubtitle {
    background:#709789;
    font-family: hammersmith, serif;
    font-size: large;
    padding:5;
    padding-left:15;
    margin-left:30;
    box-shadow: 1px 1px 1px grey;
  }
} 



#updated {
    font-size:1;
    font-family: helvetica, arial, sans-serif;
    color:#FFFFFF;
    float:left;

}

.hidden {
    display:none;
}

.visible {
    display:block;
}


.outofcharacter {
  background:lightgrey;
  font-style: italic;
  padding-left:45;
}

.cover-image-container {
    width:250px;
    padding:10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;

     box-shadow: 2px 2px 2px 2px grey;

  vertical-align: text-top;
}



.table-language {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-language th {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-language td {

    padding: 5px;
    padding-left:20px;

    border: 1px solid black;
    border-collapse: collapse;
}

.cover-image {
  width:220px;
  border-radius:5px;
  margin:10px;

   box-shadow: 5px 5px 5px grey;
}


.button-bar {
  text-align: center;
   box-shadow: 2px 2px 2px 2px grey;
   border-radius: 5px;
  margin-top: 10;
  margin-bottom: 10;
}


.button {
    background-color:#41314a;
    color:#FFFFFF;
    margin: 10;
    padding: 7 20 7 20;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     box-shadow: 1px 1px 1px grey;
     border-radius: 5px;
}

.button-unselected {
    background-color:#f6ecd3;
    color:black;
    margin: 5;
    padding: 5 20 5 20;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     box-shadow: 1px 1px 1px grey;
     border-radius: 5px;
}

.bulletlist {
  line-height: 2;
  padding-left: 60;
}

.bulletlist-paragraph {
  padding-left: 60;
}


.notes {
  border: 1px solid black;
  padding: 5 20 5 20;
  margin: 20 0 20 0;

  background-color:#e0d6ba;
}

.charblock {
  border: 1px solid black;
  padding: 5 20 5 20;
  margin: 20 0 20 0;
  display: flex;
}

.charblock-column {
  margin: 0 20 0 0;
}

.blog-image-portrait {
  width:250px;
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  align-self: center;
}

.stat-block-community-table {
  border-spacing: 0px 10px;
  font-size: medium;
  vertical-align: top;
}

.stat-block-community-table td{
  vertical-align: top;
  padding-left: 20px;
}


.stat-block-subheading {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.stat-block-text-table-subject {
  font-weight: bold;
}

.stat-block-text-table {
      border: 1px solid black;
      border-collapse: collapse;
      padding-left: 30;
}

.table-caption {
  padding:10px;
  font-size: large;
}


.stat-block-text-table td {
      padding: 5px;
      padding-left:20px;
}

.stat-block-six-stats td {
      padding: 5px;
      padding-left: 30px;
        background-color:#e0d6ba;
}


.stat-block-text-table-thirteen {
      border: 1px solid black;
      border-collapse: collapse;
}

.stat-block-text-table-thirteen td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
}

.stat-block-emphasized {
  background-color:#e0d6ba;
    font-weight: bold;
    border:0px;
}

.stat-block-left {
  padding-left: 5px;
  padding-right: 20px;
}

.hidden {
    display:none;
}

.visible {
    display:block;
}

.visible-border {
  display:block;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  border-width: 5px;
  border-color:#184031 ;
}

.revue-form-element {
  padding: 5px;
}

.revue-form {
  text-align: center;
  padding: 20px;
}

.more {
  text-decoration: underline;  
  font-size: 14pt;
  background-color:#41314a;
  color:#FFFFFF;
  
  margin: 5;
  padding: 5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   box-shadow: 1px 1px 1px grey;
   border-radius: 5px;
}

.bigText {
  font-size: x-large;
}